<footer>
<div class="f-info">

<!-- LEFT SIDE -->
<div class="f-content">
<span><i class="fa-solid fa-globe"></i></span>
<span>English (IN)</span>
<span>₹ INR</span>
</div>

<!-- SOCIAL MEDIA -->
<div class="f-socials">
<a href="https://www.facebook.com/airbnb" target="_blank">
<i class="fa-brands fa-facebook"></i>
</a>

<a href="https://twitter.com/airbnb" target="_blank">
<i class="fa-brands fa-x-twitter"></i>
</a>

<a href="https://www.instagram.com/airbnb" target="_blank">
<i class="fa-brands fa-instagram"></i>
</a>
</div>

<!-- RIGHT SIDE -->
<div class="f-copy">
<p>&copy; 2026 Airbnb, Inc.</p>

<a href="/privacy">Privacy</a>
<a href="/terms">Terms</a>
<a href="/sitemap">Sitemap</a>
</div>

</div>
</footer>